{% include "_argocd_header.jinja" %}

apiVersion: v2
name: {{ name }}
description: A Helm chart for {{ name }}
type: application
version: {{ deploy.chartVersion }}
appVersion: "{{ deploy.chartVersion }}"
