{# The short name if there is one: slug, else name with namePrefix removed. #}
{% set short = slug or (name | replace(namePrefix, "", 1) if namePrefix else name) %}
# {{ short }}

{% if description %}{{ description }}

{% endif %}Managed by [flake-hub](https://github.com/Fomiller/flake-hub). Run `nix run .#generate`
after changing `repo.nix`.
